# Python
__pycache__/
*.py[cod]

# Base de datos
*.db

# Entornos virtuales
venv/
env/

# Archivos de logs
*.log

#archivos de texto
*.txt

# IDEs y Sistema
.vscode/
.idea/
.DS_Store

# Configuración y Datos Locales
config.json
backups/

# Archivos Generados (Reportes)
*.pdf
*.csv

# PyInstaller / Compilación
dist/
build/
*.spec