# Python cache
__pycache__/
*.py[cod]

# Entornos virtuales
env/
venv/

# Archivos de configuración y logs
config.json
*.log

# Base de datos y backups
*.db
backups/

# PyInstaller / Compilación
build/
dist/
*.spec